= effective_table_with(user) do |f|
  = render_if_exists('users/fields_account', f: f)
  = render_if_exists('users/fields_demographics', f: f)

- resource = Effective::Resource.new(user)
- associations = (resource.has_ones + resource.has_manys).reject { |association| association.options[:through].present? }

%table.table.table-sm.table-striped.mt-4
  %tbody
    - associations.each do |association|
      - records = Array(user.send(association.name))
      - next if records.blank?

      - admin_resource = (Effective::Resource.new(association.klass, namespace: :admin) rescue nil)

      %tr
        %th.text-nowrap= association.name.to_s.humanize
        %td
          - records.each do |record|
            - path = (admin_resource&.action_path(:edit, record) || admin_resource&.action_path(:show, record))
            %div
              = path.present? ? link_to(record.to_s, path) : record.to_s
