%h1.effective-admin-heading= @page_title

%p Please select a source and target. The source record's associated data, but not its attributes, will be merged into the target. The source record will then be destroyed.

.effective-merge
  = simple_form_for [:admin, @merge], (EffectiveOrders.admin_simple_form_options || {}).merge(url: effective_mergery.admin_merge_index_path) do |f|
    = f.input :type, as: :hidden

    .row
      .col-sm-6
        = f.input :source_id, as: (defined?(EffectiveFormInputs) ? :effective_select : :select),
          collection: f.object.form_collection,
          hint: 'This record will be destroyed'
      .col-sm-6
        = f.input :target_id, as: (defined?(EffectiveFormInputs) ? :effective_select : :select),
          collection: f.object.form_collection,
          hint: 'This record will be kept'

    .row
      .col-sm-6.source
        - if f.object.source.present?
          = render partial: '/admin/merge/attributes', locals: { resource: f.object.source }

      .col-sm-6.target
        - if f.object.target.present?
          = render partial: '/admin/merge/attributes', locals: { resource: f.object.target }

    .form-actions
      = f.button :submit, "Merge #{@merge}", data: { disable_with: 'Merging...', confirm: "Really merge? The source record will be destroyed."}
