%h1.effective-admin-heading= @page_title

%p Please select a source and target. The source record's associated data, but not its attributes, will be merged into the target. The source record will then be destroyed.

.effective-merge
  = effective_form_with(model: @merge, url: effective_mergery.admin_merge_index_path) do |f|
    = f.hidden_field :type

    .row
      .col-sm-6
        = f.select :source_id, f.object.form_collection, label: 'Source', hint: 'This record will be destroyed'
      .col-sm-6
        = f.select :target_id, f.object.form_collection, label: 'Target', hint: 'This record will be kept'

    .row
      .col-sm-6.source
        - if f.object.source.present?
          = render partial: '/admin/merge/attributes', locals: { resource: f.object.source }

      .col-sm-6.target
        - if f.object.target.present?
          = render partial: '/admin/merge/attributes', locals: { resource: f.object.target }

    = f.submit "Merge #{@merge}", center: true, 'data-confirm': 'Really merge? The source record will be destroyed.'
